<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        {% load static %}
        <link rel='stylesheet' href='{% static "quotes/style.css" %}' media='screen' title='no title' charset='utf-8'>
    </head>
    <body>
        <div id='wrapper'>
            <div id='header'>
                <a href='/quotes'>Dashboard</a>
                <a href='/logout'>Logout</a>
            </div>
            <div id='userinfo'>
                <h2>Posts by {{user.first_name}}</h2>
                <p>Count: {{count}}</p>
                {% for quote in quotes %}
                <p><span class='author' style="color:red">{{quote.author}}:</span> {{quote.message}}</p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>