<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Portfolio Projects Page</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <a href="/home">Home</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
            </div>
            <hr>
            <div class="text">
                <h2>Projects that I have completed:</h2>
                <dl>
                    <dt>Human</dt>
                    <dd>- This project was to work on OOP in reference to Classes and objects. The goal was to create a Human class with atrributes, create an attack method, and create a constructor that accepted 5 parameters.</dd>
                    <img src="~/images/human.png" alt='cs code for human project'>
                    <dt>Wizard, Ninja, Samurai</dt>
                    <dd>- This project built onto the Human project by adding a Wizard class, a Ninja class, and a Samurai class that inherited atrributes from the Human class. Each of the new classes has specified methods or attackes that can affect the other classes.</dd>
                    <img src="~/images/samurai_ninja_wizard.png" alt='cs code for wizard, samurai, ninja project'>
                    <dt>Deck Of Cards</dt>
                    <dd>- This project dealt with creating an app that would allow a player to draw and discard cards from their hand, while making sure that the proper cards were taken away from the deck or added back in the deck.</dd>
                    <img src="~/images/holding-a-hand-of-cards.jpg" alt="hand of cards">
                </ol>
            </div>
        </div>
    </body>
</html>