<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    @foreach(var error in ViewBag.Error)
    {
        <p style="color:red">@error</p>
    }
    <form action="/info" method="post">
        Your Name: <input type="text" name="name">
        Dojo Location: <select name="location">
            <option value="Seattle">Seattle</option>
            <option value="Chicago">Chicago</option>
            <option value="San Jose">San Jose</option>
        </select>
        Favorite Language: <select name="language">
            <option value="Python">Python</option>
            <option value="C Sharp">C Sharp</option>
            <option value="MEAN">MEAN</option>
        </select>
        Comment (optional): <textarea name="comment" rows="10" cols="30"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>