<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Semi-Restful Users</title>
            {% load static %}
        <link rel='stylesheet' href='{% static "users/style.css" %}' media='screen' title='no title' charset='utf-8'>
    </head>
    <body>
        <div id='wrapper'>
            <h1>User {{ user.id }}</h1>
            <p>Full Name: {{first_name}} {{last_name}}</p>
            <p>Email: {{email}}</p>
            <p>Created at: {{created_at}}</p>
            <a href='/users/{{user.id}}/edit'>Edit</a>
            <a href='/users/{{user.id}}/destroy'>Delete</a>
        </div>
    </body>
</html>