<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Portfolio Home Page</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <a href="/home">Home</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
            </div>
            <hr>
            <div class='text'>
                <h1>My name is Nicki Hays</h1>
                <img src="~/images/Nicki_Connor.jpg" alt="Me and my son, Connor">
                <h3>About Me</h3>
                <p>I am 30 years and have a 1.5 year old son. I am new to developing but I enjoy it very much. I like figuring out how things work.</p>
            </div>
        </div>
    </body>
</html>