#container{
    width: 950px;
    margin: 0px auto;
    font-family: arial;
}

#top{
    background-color: rgb(38, 81, 117);
    height: 480px;
    width: 950px;
}

#header{
    background-color: rgb(38, 81, 117);
    display: inline-block;
    vertical-align: top;
}

img{
    width: 350px;
    display: inline-block;
    padding: 20px 10px 10px 20px;
}

#size{
    color: white;
    display: inline-block;
    background-color: rgb(38, 81, 117);
    font-size: 10pt;
    margin: 10px 0px 5px 90px;
}

#size span{
    color: gold;
    text-decoration: underline;
    font-size: 10pt;
    display: inline-block;
}

#search{ 
    display: inline-block;
    width: 300px;
    height: 50px;
    vertical-align: top;
    align-items: left;
    margin: 0px 0px 0px 245px;
}

input{
    background-color: white;
    text-align: center;
    text-orientation: center;
    color: rgb(187, 187, 187);
    font-size: 10pt;
    margin: 15px 0px 0px 0px;
}

#bar{
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    text-orientation: center;
    text-align: center;
    height: 55px;
    width: 275px;
    display: inline-block;
}

#go{
    display: inline-block;
    background-color: rgb(38, 81, 117);
    border: 2px solid rgb(192, 192, 192);
    color: white;
    border-radius: 10px;
    width: 35px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10pt;
    margin: 14px 0px 0px 0px;
    vertical-align: top;

}

#options{
    background-color: rgb(73, 127, 171);
    width: 805px;
    height: 35px;
    align-items: center;
    margin: 0px 0px 10px 75px;
    padding: 0px 0px 0px 0px;
    border-radius: 10px;
    display: inline-block;
}

.button{
    color: white;
    display: inline-block;
    background-color: rgb(73, 127, 171);
    text-align: center;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 0px 0px;
    font-size: 13pt;
    width: 120px;
    height: 20px;

}

#sidebar{
    display: inline-block;
    height: 275px;
    width: 220px;
    line-height: 20pt;
    font-size: 12pt;
    padding: 20px 20px 0px 20px;
    text-align: center;
    list-style-position: inside;
}
.link{
    text-align: center;
    color: white;
    text-decoration: underline;
    width: 200px;
    list-style-position: inside;
}

#description{
    display: inline-block;
    text-align: center;
    color: white;
    width: 575px;
    height: 330px;
    vertical-align: top;
    font-size: 10pt;
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;
}

#description ul{
    list-style-type: none;
    font-style: italic;
    color: gold; 
    text-align: center;
    padding: 0px 10px 0px 10px;
    font-size: 15pt;
    line-height: 25pt;
    margin: 10px 0px 10px 0px;
}

#zen{
    color: white;
    text-align: center;
    font-size: 12pt;
    margin-top: 10px;
}





#midwrapper{
    background-color: white;
    border-top: 5px solid rgb(26, 56, 82);
    height: 220px;
    padding: 0px 0px 0px 75px;
}

.midcontent{
    border-top: 5px solid rgb(117, 168, 211);
    text-align: center;
    display: inline-block;
    width: 275px;
    height: 220px;
    vertical-align: top;
    padding: 0px 60px 0px 10px;
    font-size: 10pt;
    margin: 10px 5px 0px 5px;
}

.title{
    font-weight: bold;
    line-height: 5pt;
}

span{
    color: rgb(128, 175, 214);
}

.list{
    list-style-type: square;
    text-align: center;
    text-decoration: none;
    margin: 5px 0px 10px 0px;
}

.midcontent p span{
    font-size: 8pt;
    margin: 10px 0px 5px 0px;
}

#footer{
    color: rgb(118, 168, 211);
    width: 930px;
    height: 50px;
    background-image: linear-gradient(rgb(40, 85, 123), rgb(54, 116, 169));
    display: inline-block;
    text-align: center;
    padding: 50px 10px 0px 10px;
}

.flink{
    color: rgb(118, 168, 211);
    text-decoration: none;
    align-items: center;
    padding: 10px;
    margin: 5px;

}
#footer p{
    font-size: 8pt;
}