#wrapper{
    width: 970px;
    margin: 0px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#header{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 45px;
    display: block;
}
    #header img{
        margin: 10px 0px 0px 30px;
        display: inline-block;
    }
    #header p{
        display: inline-block;
        vertical-align: top;
        font-size: 14pt;
        margin-top: 8px;
    }

    #header li{
        list-style: none;
        display: inline-block;
        margin: 12px 5px 0px 5px;
        vertical-align: top;
        font-size: 10pt;
    }
    #header ul{
        display: inline;
        vertical-align: top;
        margin-left: 225px;
        padding-left: 5px;
    }

#topcontent{
    display: inline-block;
    background-color: rgb(234, 234, 234);;
    border-bottom: 1px solid darkgrey;
    width: 970px;
    height: 270px;
}
    h1{
        font-size: 20pt;
        line-height: 22pt;
    }
    #text{
        display: inline-block;
        width: 350px;
        margin-left: 15px;
        font-size: 10pt;
        line-height: 15pt;
    }
    button{
        background-color: black;
        color: white;
        border-radius: 5px;
        border: none;
        padding-bottom: 2px;
        width: 110px;
        height: 25px;
        font-size: 12pt;
        margin: 20px 0px 0px 225px;
    }
    #topcontent img{
        display: inline-block;
        vertical-align: top;
        margin: 15px 0px 0px 125px;
    }

#midcontent{
    background-color: rgb(234, 234, 234);
    width: 970px;
    height: 375px;
    padding-top: 20px;
}
    #left{
        display: inline-block;
        width: 655px;
    }
    #collect{
        padding: 10px 0px 0px 10px;
        margin-top: 25px;
    }
    #collect p{
        margin-top: 5px;
        width: 615px;
        font-size: 10pt;
        line-height: 15pt;
    }

    .subcontent1{
        display: inline-block;
        width: 195px;
        height: 135px;
        vertical-align: top;
        padding-right: 5px;
        padding-left: 10px;
        font-size: 10pt;
        line-height: 15pt;
    }
    .subcontent{
        display: inline-block;
        width: 195px;
        height: 135px;
        vertical-align: top;
        border-left: 1px solid darkgrey;
        padding-right: 5px;
        padding-left: 10px;
        font-size: 10pt;
        line-height: 15pt;
    }
    .subcontent p{
        margin: 5px 0px 5px 0px;
    }
    .subcontent img{
        display: inline-block;
        vertical-align: top;
    }
    h2{
        display: inline-block;
        vertical-align: top;
        font-size: 14pt;
        margin-top: 7px;
        margin-bottom: 8px;
    }

#why{
    background-color: white;
    display: inline-block;
    vertical-align: top;
    width: 310px;
    height: 375px;
}
    #whycontent{
        display: inline-block;
        width: 165px;
        vertical-align: top;
        margin: 0px 0px 5px 10px;
        font-size: 10pt;
        line-height: 15pt;
    }
    #why p{
        margin-top: 0px;
    }
    #why a{
        color: black;
    }
    #why img{
        display: inline-block;
        vertical-align: top;
        width: 120px;
        margin-top: 15px;
    }

#basecontent{
    background-color: black;
    color: white;
    border-radius: 5px;
}
h3{
    font-size: 12pt;
}
hr{
    color: white;
    background-color: black;
}
#contact{
    display: inline-block;
    padding-left: 30px;
    vertical-align: top;
    width: 300px;
    margin-right: 20px;
}
    #contact ul{
        padding-left: 0px;
        margin-bottom: 10px;
    }
    #contact li{
        list-style-type: none;
        font-size: 8pt;
        line-height: 17pt;
    }
    #contact p{
        font-size: 8pt;
        margin: 0px 0px 0px 0px;
    }

#support{
    display: inline-block;
    vertical-align: top;
    width: 280px;
    margin: 0px 20px 0px 5px;
}
    #support ul{
        padding-left: 0px;
    }
    #support li{
        list-style-type: none;
        font-size: 8pt;
        line-height: 10pt;
    }

#form{
    display: inline-block;
    vertical-align: top;
    width: 300px;
}
    #form p{
        font-size: 8pt;
    }
    input{
        display: inline-block;
        background-color: rgb(38, 38, 38);
        width: 95px;
        height: 25px;
        border: none;
        margin: 10px 5px 15px 0px;
        text-indent: 5px;
        font-size: 8pt;
    }
    #no{
        display: inline-block;
        background-color: rgb(38, 38, 38);
        width: 200px;
        height: 25px;
        border: none;
        font-size: 8pt;
    }
    #form button{
        display: inline-block;
        background-color: rgb(32, 32, 32);
        border-radius: 0px;
        height: 25px;
        width: 75px;
        margin: 0px;
        font-size: 8pt;
    }

#footer{
    font-size: 8pt;
    text-align: center;
    background-color:  rgb(234, 234, 234);
    margin: 0px;
    padding: 15px 0px 15px 0px;
}