<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title></title>
            {% load static %}
        <link rel='stylesheet' href='{% static "books/style.css" %}' media='screen' title='no title' charset='utf-8'>
    </head>
    <body>
        <div id='wrapper'>
            <div id='header'>
                <h2>Welcome, {{request.session.alias}}!</h2>
                <a href='/books/add'>Add Book and Review</a>
                <a href='/logout'>Logout</a>
            </div>
            <div id='recent'>
                <h3>Recent Book Reviews:</h3>
                {% for review in recent_reviews %}
                    <h3><a href='/books/{{review.book.id}}'>{{review.book.title}}</a></h3>
                    <p>Rating: {{review.stars}} <span>&#9734</span></p>
                    <p><a href='users/{{review.user.id}}'>{{review.user.alias}}</a> says: {{review.content}}</p>
                    <p>Posted on: {{review.created_at}}</p>
                {% endfor %}
            </div>
            <div id='others'>
                <h3>Other Books with Reviews:</h3>
                <div style="height:120px;width:120px;border:1px solid #ccc;overflow:auto;">
                    {% for book in books %}
                    <p><a href='books/{{book.id}}'>{{book.title}}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html> 