<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        {% load static %}
        <link rel='stylesheet' href='{% static "loginreg/style.css" %}' media='screen' title='no title' charset='utf-8'>   
    </head>
    <body>
        <div id='wrapper'>
            <h2>Success! Welcome {{request.session.name}}</h2>
            <form action="/logout">
                {% csrf_token %}
                <input type="submit" value="Logout">
            </form>
        </div>
    </body>
</html>