@for(var info in ViewBag.Ninja)
{
    <h1>Name: @info.name</h1>
    <p>Ninja Level - @info.level</p>
    <p>Description: @info.description</p>
    <p>Current Dojo: <a href="">@info.dojo_name</a></p>
}
