@{ 
    DateTime currentDate = DateTime.Now;
    string currTime = DateTime.Now.ToString("T");
    string currDate = DateTime.Now.ToString("D");
    
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Date Time Display</title>
    </head>
    <body>
        <h1>The current date and time:</h1>
        <h2>@currDate</h2>
        <h2>@currTime</h2>
    </body>
</html>