<html>
<head>
  <title>Friends</title>
</head>
<body>
  <h1>These are all my friends!</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Friends Since</th>
        </tr>
        {% for friend in all_friends %}
            <tr>
                <td>{{ friend['name'] }}</td>
                <td>{{ friend['age'] }}</td>
                <td>{{ friend['friendship_length'] }}</td>
            </tr>
        {% endfor %}  
    </table>
    <hr>
  <h2>Add a Friend</h2>
  <form action='/addfriends' method='POST'>
    <label for="name">Name:<input type="text" name="name" id="name"></label>
    <label for="age">Age:<input type="text" name="age" id="age"></label>
    <label for="length">Friends Since:<input type="date" name="length" id="length"></label>
    <input type="submit" value="Add">
  </form>
</body>
</html>